html {
  background: #c9c9c9 !important; }

li {
  list-style-type: none;
  text-align: left; }

.btn-compra {
  text-decoration: none;
  font-size: 1.4rem;
  background: #000;
  color: #fff;
  padding: 0.4em;
  border-radius: 20px;
  transition: all 250ms ease; }
  .btn-compra:hover {
    background: #fff;
    outline: 2px solid #f00;
    color: #f00; }

h1 {
  font-size: 3rem;
  text-align: center; }

.iconos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 300px;
  opacity: 0; }

.mostrar {
  opacity: 1; }

.c9__body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100vh; }

.c9__buscador {
  width: auto;
  height: 50px;
  background: #fff;
  margin-block: 50px;
  cursor: pointer;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem; }
  .c9__buscador .c9__input {
    width: 325px;
    outline: none;
    border: none;
    border-bottom: 3px solid #000;
    font-size: 1.4rem;
    margin-inline: 1em; }

.c9__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.c9__card {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 325px;
  width: 250px;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 15px;
  transition: all 250ms ease-out; }
  .c9__card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px 4px #636363; }
  .c9__card h1 {
    font-size: 2rem;
    text-align: center; }
  .c9__card p {
    font-size: 1.6rem;
    text-align: center; }
  .c9__card img {
    width: auto;
    height: 100px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 100%;
    display: block;
    text-align: center; }
  .c9__card button {
    display: block;
    text-align: center; }

.c9__lupa {
  color: #000;
  font-size: 1.7rem;
  margin: 0.3em; }

.header {
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff; }
  .header img {
    width: 65px;
    height: auto;
    cursor: pointer;
    margin-left: 10px; }

.changuito {
  position: relative;
  padding: 25px;
  background: #8d8d8d;
  border-radius: 100%;
  cursor: pointer; }
  .changuito span,
  .changuito .cart {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000; }
  .changuitoContenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.tacho {
  background: #fff;
  color: red;
  border: 3px solid red; }

.carro {
  border: 3px solid #000;
  background: #fff; }

.comprar {
  border: 3px solid #008d00;
  background: #fff;
  color: #008d00; }

.compraTerminada {
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0px 0px -1px 1px #000;
  background: #000;
  margin-top: 30px;
  padding: 0.6em;
  border: 2px solid #000;
  cursor: pointer;
  border: none;
  transition: all 300ms ease; }
  .compraTerminada:hover {
    color: #000;
    background: #fff;
    transform: translate(10px, -10px);
    box-shadow: -10px 10px 1px 3px #000;
    border: 2px solid #c9c9c9; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none; }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 475px;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box; }

.popup.active .overlay {
  display: block; }

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1); }
